* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #272E38;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7rem;
  background-color: #F2F4F8;
  position: sticky;
  top: 0;
  z-index: 999;
}

header .heading {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

header .heading a {
  text-decoration: none;
  color: #616A7B;
}

header .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .search .search-box {
  height: 4rem;
  border: 0.2rem solid #434C5E;
  border-radius: 1.5rem;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .search .clicked {
  border: 0.3rem solid #434C5E;
}

header .search .search-box .search-txt {
  width: 20rem;
  border: none;
  background: none;
  outline: none;
  color: #434C5E;
  margin-right: 1.5rem;
}

header .search .search-box .search-txt::placeholder {
  color: #BABABA;
}

header .search .search-box .search-btn {
  padding-top: 4px;
  color: #434C5E;
}

main {
  background: rgb(255,255,255);
  background: linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(186,199,227,1) 100%);
  color: #434C5E;
  min-height: 90vh;
}

main .content .subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

main .content .subtitle h1 {
  font-family: 'Varela', sans-serif;
  font-size: 7rem;
}

main .content .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

main .content .search .search-box {
  height: 6rem;
  border: 0.2rem solid #434C5E;
  border-radius: 2rem;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .content .search .search-box form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .content .search .clicked {
  border: 0.3rem solid #434C5E;
}

main .content .search .search-box .search-txt {
  width: 40rem;
  border: none;
  background: none;
  outline: none;
  color: #434C5E;
  margin-right: 1.5rem;
}

main .content .search .search-box .search-txt::placeholder {
  color: #BABABA;
}

main .content .search .search-box .search-btn {
  padding-top: 4px;
  color: #434C5E;
}

.retrieve-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4rem 7rem;
}

.retrieve-main .resultQuery {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.retrieve-main .resultClass {
  font-size: 1.8rem;
  margin-bottom: 8rem;
  color: #7489A6;
  text-transform: capitalize;
}

.retrieve-main .similarDocument {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.retrieve-main .similarDocumentBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #7489A6;
}

.retrieve-main .similarDocumentBox .dataDocument {
  color: #000000;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 0.1rem;
  font-weight: 500;
}

.retrieve-main .similarDocumentBox .dataValue {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 0.1rem;
}

.retrieve-main .similarDocumentBox .dataClass {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.retrieve-main .cosineSimilarity {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  margin-top: 8rem;
}

.retrieve-main .cosineSimilarityBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #7489A6;
}

.retrieve-main .cosineSimilarityBox .dataDocument {
  color: #000000;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 0.1rem;
  font-weight: 500;
}

.retrieve-main .cosineSimilarityBox .dataValue {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 0.1rem;
}

.retrieve-main .cosineSimilarityBox .dataClass {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

footer {
  background-color: #1E242B;
  color: #EEEEEE;

}

footer .footer-one {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer-one .info {
  width: 50ch;
  margin-left: 2rem;
}

footer .footer-one .info h3 {
  font-size: 1.6rem;
  font-family: 'Varela', sans-serif;
  margin-bottom: 3rem;
}

footer .footer-one .info p {
  font-size: 1.2rem;
}

footer .footer-one .team {
  margin-right: 2rem;
}

footer .footer-one .team h3 {
  font-size: 1.6rem;
  font-family: 'Varela', sans-serif;
  margin-bottom: 3rem;
}

footer .footer-one .team p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

footer .footer-two {
  background-color: #222930;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}