{% extends 'base.html' %}

{% block head %}
<title>Temu Kembali Informasi</title>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var div = document.getElementById("searchBox");
      var originalBorderColor = window.getComputedStyle(div).getPropertyValue("border-color");

      function changeBorderColor() {
          div.classList.toggle("clicked");
      }

      function handleClickOutside(event) {
          if (!div.contains(event.target)) {
              div.classList.remove("clicked");
          }
      }

      div.addEventListener("click", changeBorderColor);
      document.addEventListener("click", handleClickOutside);
  });

  function submitForm() {
  document.getElementById("searchForm").submit();
}
</script>
{% endblock %}

{%  block body %}
<header>
  <div class="heading">
    <a href="/">Temu Kembali Informasi</a>
  </div>
</header>
<main>
  <div class="content">
    <article class="subtitle">
      <h1>Gooooooooooooooogel</h1>
    </article>
    <article class="search">
      <div class="search-box" id="searchBox" onclick="changeBorderColor()">
        <form action="/retrieve" method="POST" id="searchForm">
          <input type="search" placeholder="Ketik untuk mencari" class="search-txt" name="search">
          <a href="#" class="search-btn" onclick="submitForm()">
            <span class="material-symbols-outlined">
              search
            </span>
          </a>
        </form>
      </div>
    </article>
  </div>
</main>
<footer>
  <div class="footer-one">
    <div class="info">
      <h3>Tentang website ini</h3>
      <p>Website ini dibuat oleh kami untuk menyelesaikan tugas akhir mata kuliah Temu Kembali Informasi</p>
    </div>
    <div class="team">
      <h3>Tim kami</h3>
      <p>Tirta Agung Jati</p>
      <p>Abimanyu Wahyu Palagan</p>
      <p>Muhammad Imam Alif</p>
      <p>Fatkhi Nur Akhsan</p>
      <p>Agung Rashif Madani</p>
    </div>
  </div>
  <div class="footer-two">
    <p>Made by love @2023</p>
  </div>
</footer>
{% endblock %}